* {
  padding: 0px;
  margin: 0px;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  width: 100vw;
  margin: 0;
}

nav {
  padding: 95px 71px 65px 152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

nav .logo {
  color: #663f28;
  text-decoration: none;
  font-size: 67px;
  line-height: 77px;
  letter-spacing: 0px;
  font-family: Retrig;
}

nav ul li {
  display: inline-block;
  margin-right: 81px;
}

nav ul li a {
  text-decoration: none;
  color: #663f28;
  transition: 0.4s;
  font-size: 30px;
}


nav ul li a:hover,
.active {
  color: #a67153;
  text-decoration: underline;
}

.content {
  padding: 0px 152px 125px 152px;
  gap: 100px;
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

#Title {
  font-size: 60px;
  color: #663f28;
  line-height: 85px;
  letter-spacing: 0px;
  margin-top: 140px;
}

#Text {
  font-size: 30px;
  line-height: 39px;
  margin-top: 55px;
  margin-bottom: 72px;
  color: #3E3E3E;
}


.btn {
  border-radius: 40px;
  border: 0;
  font-size: 30px;
  padding: 17px 179px;
  color: white;
  background-color: #663f28;
  box-shadow: 0 0 5px black;
  transition: 0.4s;
  text-decoration: none;
}


.btn:hover {
  background-color: #a67153;
}



img {
  width: 100%;
  height: 677px;
  box-shadow: -30px 30px #8345b2;
}




.logo-fotter {
  color: #000000;
  text-decoration: none;
  font-size: 67px;
  line-height: 77px;
  letter-spacing: 0px;
  font-family: Retrig;
  margin-bottom: 150px;
}

footer {
  padding: 69px 152px 121px 152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F1F3;
  gap: 18px;
  flex: 1;
}

.kontakt {
  color: #3E3E3E;
  font-size: 30px;
  line-height: 53px;
}

.öffnungszeiten {
  color: #3E3E3E;
  font-size: 30px;
  margin-bottom: 55px;
  line-height: 53px;
}

@media(min-width:1187px)and (max-width:1600px)  {
  nav {
    padding: 85px 54px 55px 125px;
  }

  nav .logo {
    font-size: 57px;
    line-height: 65px;
    letter-spacing: 0px;
  }

  nav ul li {
    display: inline-block;
    margin-right: 71px;
  }

  nav ul li a {
    font-size: 22px;
    line-height: 29px;

  }

  .content {
    padding: 0px 125px 110px 125px;
    gap: 100px;
  }

  #Title {
    font-size: 50px;
    line-height: 65px;
    margin-top: 60px;
    letter-spacing: 0px;
  }

  #Text {
    font-size: 22px;
    line-height: 29px;
    margin-top: 45px;
    margin-bottom: 65px;
  }

  .btn {
    font-size: 22px;
    line-height: 29px;
    padding: 15px 115px;

  }

  img {
    width: 423px;
    height: 467px;
    box-shadow: -25px 25px #a67153;
  }

  .logo-fotter {
    font-size: 57px;
    line-height: 65px;
    margin-bottom: 135px;
  }

  footer {
    padding: 65px 125px 111px 125px;
  }

  .kontakt {
    font-size: 22px;
    line-height: 43px;
  }

  .öffnungszeiten {
    font-size: 22px;
    margin-bottom: 51px;
    line-height: 43px;
  }

}

@media (min-width:616px)and (max-width: 1187px) {
  nav .logo {
    font-size: 39px;
    line-height: 51px;
  }

  nav ul li {
    margin-right: 40px;
    margin-left: 40px;
  }

  nav ul li a {
    font-size: 20px;
    line-height: 34px;
  }

  nav {
    padding: 75px 0px 45px 0px;
    flex-direction: column;
    gap: 15px;
  }

  .content {
    padding: 0px 82px 59px 82px;
    gap: 0px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .image {
    order: -1;

  }

  img {
    box-shadow: -15px 15px #a67153;
    width: 300px;
    height: 286px;
  }

  .texts {
    text-align: center;
    align-self: none;
  }

  #Title {
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    margin-top: 45px;
    text-align: center;
  }

  #Text {
    font-size: 20px;
    line-height: 25px;
    margin-top: 35px;
    margin-bottom: 54px;
    text-align: center;
  }

  .btn {
    font-size: 20px;
    line-height: 25px;
    padding: 14px 100px;
  }

  .logo-fotter {
    font-size: 36px;
    margin-bottom: 0px;
  }

  footer {
    padding: 75px 82px 75px 82px;
    flex-direction: column;
    text-align: center;
    gap: 21px;
  }

  .kontakt {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }

  .öffnungszeiten {
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 32px;
    text-align: center;

  }
}

@media (min-width:350px)and (max-width: 616px) {

  nav .logo {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0px;
  }

  nav ul li {
    margin-right: 15px;
    margin-left: 15px;

  }

  nav ul li a {
    font-size: 16px;
    line-height: 53px;
  }

  nav {
    padding: 60px 0px 30px 0px;
    flex-direction: column;
    gap: 0px;
  }

  .content {
    padding: 0px 36px 39px 36px;
    gap: 0px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .texts {
    text-align: center;
    align-self: none;
  }

  #Title {
    line-height: 29px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
  }

  #Text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 34px;
  }

  .btn {
    font-size: 16px;
    line-height: 20px;
    padding: 9px 60px;
  }

  .image {
    order: -1;

  }

  img {
    box-shadow: -10px 10px #a67153;
    width: 213px;
    height: 204;
  }

  footer {
    padding: 60px 36px 60px 36px;
    flex-direction: column;
    text-align: center;
    gap: 21px;
  }

  .logo-fotter {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0px;
    letter-spacing: 0px;

  }

  .kontakt {
    font-size: 16px;
    line-height: 25px;
  }

  .öffnungszeiten {
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 25px;
  }
}
.social {
  display: flex;
  list-style: none;
  padding: 20px;
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}

.social li {
  margin-right: 10px;
}

.social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  
}

.social .instagram:hover {
  background-color: #584f4f;
}

.social .twitter:hover {
  background-color: #1da1f2;
}

.social .youtube:hover {
  background-color: #ff0000;
}
